* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #012E4A;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.main-title {
    font-size: 1.5em;
    color: #012E4A;
}

.meme {
    border-top: solid 1px #012e4a83;
}

.meme__input {
    display: none;
}

.meme__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.meme__title {
    font-size: 1em;
    min-width: 80%;
    transition: all 0.3s linear;
}

.meme__icon {
    display: block;
    width: 0.8em;
    height: 0.8em;
    background: url("icon/icon-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.2s ease;
}

.meme__img {
    display: block;
    width: 80%;
    height: 0;
    margin: 0 auto;
    transform: scale(0);
    transition: all 0.3s linear;
}

.meme__input:checked ~ .meme__img {
    height: auto;
    margin-bottom: 1em;
    transform: scale(1);
}

.meme__input:checked ~ .meme__icon {
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.05em;
    background: url("icon/close-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*      tablet      */
@media (min-width: 800px) {
    .main-title {
        font-size: 1.7em;
    }
    .meme__title {
        font-size: 1.1em;
    }
    .meme__img {
        width: 60%;
    }
    .meme__input:checked ~ .meme__img {
        margin-bottom: 2em;
    }
}

/*      desktop     */
@media (min-width: 1200px) {
    .main {
        width: 40%;
    }
    .main-title {
        font-size: 2em;
    }
    .meme__title {
        font-size: 1.2em;
    }
    .meme__icon {
        width: 1em;
        height: 1em;
    }
    .meme__input:checked ~ .meme__icon {
        width: 0.9em;
        height: 0.9em;
    }
}

@media (hover: hover) {
    /*      Наведение на аккордион      */
    .meme__title {
        color: #1423CF;
    }
    .meme__icon {
        transform: scale(0);
    }
    .meme__input:checked ~ .meme__title {
        color: #012E4A;
    }
    .accordion:hover .meme__title {
        color: #012E4A;
    }
    .accordion:hover .meme__icon {
        transform: scale(1);
    }
    /*      Наведение на один из элементов      */

}
