* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #1423cf;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.main-title {
    font-size: 1.5em;
    color: #012E4A;
}

.meme {
    border-top: solid 1px #012e4a83;
}

.meme__input {
    display: none;
}

.meme__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.meme__title {
    font-size: 1em;
    min-width: 80%;
    transition: all 0.3s linear;
}

.meme__icon {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: url("icon/icon-blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s linear;
}

.meme__img {
    display: block;
    width: 80%;
    height: 0;
    margin: 0 auto;
    transform: scale(0);
    transition: all 0.3s linear;
}

.meme__input:checked ~ .meme__img {
    height: auto;
    margin-bottom: 1em;
    transform: scale(1);
}

.meme__input:checked ~ .meme__title {
    color: #012E4A;
}

.meme__input:checked ~ .meme__icon {
    background: url("icon/icon-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(45deg);
}

/*      tablet      */
@media (min-width: 800px) {
    .main-title {
        font-size: 1.7em;
    }
    .meme__title {
        font-size: 1.2em;
    }
    .meme__img {
        width: 60%;
    }
    .meme__input:checked ~ .meme__img {
        margin-bottom: 2em;
    }
}

/*      desktop     */
@media (min-width: 1200px) {
    .main {
        width: 40%;
    }
    .main-title {
        font-size: 2em;
    }
    .meme__title {
        font-size: 1.4em;
    }
}
